
/*GLOBAL SECTION*/

* {
    font-size: 16px;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: hsl(0, 0%, 98%);
    height: 800px;
}

h1 {
    font-size: 5rem;
    margin: 0;
}


/*NAV SECTION */

nav {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    width: 100%;
    height: 2rem;
    align-items: center;
}

.nav-leftList {
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-left: 3%;
    padding: 0;
    grid-column: 2 / 2;
}

.nav-rightList {
    display:flex;
    justify-content: space-evenly;
    grid-column: 3 / 3;
    align-items: center;
    list-style-type: none;
}

.minimal {
    border: none;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    font-size: 0.9rem;
    display:flex;
    align-items: center;
}

.minimal:hover {
    color: hsl(0, 0%, 8%);
}

.buttonArrow {
    margin-left: 0.5rem;
    display:flex;
}

#logo {
    width: 84px;
    height: 27px;
    position: absolute;
    top: 3.5%;
    left: 2.5%;
}

#navToggleButton {
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: hsl(0, 0%, 98%);
    border: none;
    display: none;
}

#registerButton {
    background-color:hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
}

#registerButton:hover {
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
}

/* NAV CONTAINERS */


.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    font-size: 0.9rem;
    color:hsl(0, 0%, 41%);
}

.list li {
    padding: 0.3rem 0;
}

.featuresLogoContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1rem;
    padding: 0;
}

.featuresLogoContainer img {
    padding: 0.3rem 0;
}

.featuresContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    list-style-type: none;
    padding: 1.5rem 1rem;
    visibility: hidden;
    position: absolute;
    left: 7%;
    top: 8%;
    box-shadow: 0 0 0.7rem -0.2rem hsl(0, 0%, 41%);
    border-radius: 0.6rem;
}

.companyContainer {
    visibility: hidden;
    align-items:center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    position: absolute;
    padding: 1rem;
    background-color: white;
    top: 8%;
    box-shadow: 0 0 0.7rem -0.2rem hsl(0, 0%, 41%);
    border-radius: 0.6rem;
}


/* MAIN SECTION */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
}


.mainOuterContainer {
    padding: 0;
    width: 100%;
    height: 100%;
    grid-column: 1 / 1;
    display: flex;
    align-items: flex-end;
}

.mainInnerContainer {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}

.mainSentence {
    margin-bottom: 10%;
    font-size: 1.125rem;
    width: 90%;
    color:hsl(0, 0%, 41%);
}

.learnButton {
    background-color: hsl(0, 0%, 8%);
    color:hsl(0, 0%, 98%);
    padding: 0.7rem 1.2rem;
    border-radius: 0.7rem;
    font-size: 18px;
    margin-bottom: 10%;
}

.learnButton:active {
    background-color:hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
    transition: 0.2s;
}

.mainLogoContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.heroImage {
    height: 100%;
    max-height: 40rem;
    grid-column: 2 / 2;
}



@media only screen and (max-width: 950px) {
    
    * {
        font-size: 14px;
    }

    .heroImage {
        max-width: 25rem;
    }
    
}

@media only screen and (max-width: 800px) {
    /*NAV SECTION MOBILE */

    nav {
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 60%;
        display: flex;
        background-color: hsl(0, 0%, 98%);
        right: 0%;
        display: none;
    }

    nav.active {
        display: flex;
    }

    #navToggleButton {
        display: flex;
        z-index: 1;
    }

    .nav-leftList {
        flex-direction: column;
        z-index: 1;
        margin: 0;
        align-items: flex-start;
        width: 90%;
    }

    .nav-rightList {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    /*MAIN MOBILE SECTION */

    main {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 5% 0 0 0;
    }

    .heroContainer {
        display: grid;
        margin-top: 12%;
    }

    .heroImage {
        grid-row: 1 / 1;
    }

    .mainOuterContainer {
        grid-row: 2 / 2;
    }
    
    .mainInnerContainer {
        align-items: center;
        height: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .mainSentence {
        line-height: 2rem;
        margin: 0 5%;
        padding: 0;
        text-align: center;
    }
}









/* ATTRIBUTION SECTION */

.attribution { 
    font-size: 11px; text-align: center; 
    grid-area: 7 / 3 / span 1 / span 3;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}